/* [1] Rule for the game box */
#game-box {
	margin: auto;
	width: 75%;
	text-align: left;
	border: 2px solid black;
	box-sizing: border-box;
}


/* [2] Rule for the game header */
#game-header {
	padding: 7.5px;

	/*navy blue to powder blue*/
	background: linear-gradient(to right, #203354, #B6D0E2);	

	color: white;
	font-size: 18px;
}


/* [2.1] Rule for the left text in the game header */
#header-left {
	float: left;
}


/* [2.2] Rule for the right text in the game header */
#header-right {
	float: right;
}


/* [3] Rule for the setup text */
#setup-text {
	font-size: 18px;
	margin: 5px;
}


/* [4] Rule for the play area */
#play-area {
	margin: 20px;
}


/* [4.1] Rule for the main word */
#main-word {
	font-size:  28px;

	/* light grey */
	color:  #767676;	
	
	margin: 0;
	margin-left: 50px;
	padding: 0;	
}


hr {
	width: 40%;
	margin-left: 50px;
}


/* [4.2] Rule for the drop down tree */
#dd-tree {
	margin: 20px;
}


/* [4.2.1] Rule for the drop downs */
.dropdown {
	display: block;
	width: fit-content;
	position: relative;
	border:  2px solid black;
	border-radius: 15px;
	font-size: 16px;
	margin: auto;
	/*animation: gameDemo 2.5s linear 2s;
	animation-direction:  alternate;*/
}


.dropdown option:first-child {
	color: #d3d3d3 !important;
}


/* [4.2.2] Rule for the bottom drop down cluster  */
#dd-main, #dd-bottom {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	align-items: center;
}


.dropdown-style {
}


/* [4.2.2.1] Rule for the inner bottom <div> elements  */
.dd-bottom-inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 20px;
	margin-bottom: 30px;
	margin-top: 75px;
}


/*[4.2.2.1.1] Rule for the bottom drop down labels*/
.list-label {
	font-size: 24px;
	color:  #767676;	
}


/* [5] Rule for the button footer */
#game-footer {
	display: flex;
	justify-content: space-around;
	padding: 7.5px;	
}


/* [5.1] Rule for the buttons */
.fbutton {
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	display: inline-block;
	height: 50px;
	font-size: 15px;
	text-align:justify;

	transition-duration: 0.4s;	
}


/*If hovering over the button and the button is not disabled*/
.fbutton:hover:enabled {
	background-color: #d3d3d3;	/*light grey*/;
}


/*If the button has been clicked or has had some event applied to it and is not disabled*/
.fbutton:active:enabled {
	background-color: #d3d3d3;
	box-shadow:  0 5px #666;
	transform:  translateY(4px);
}


/* [5.1.1] Rule for the nested button images  */
.fimg {
	max-width:  125px;
	max-height: 35px;
	opacity: 1;
	display:  block;
	transition:  .5s ease;
	backface-visibility: hidden;
	width: auto;
	height: auto;
	margin:  0 auto;
}


/* [6] Rule for the modal template */
.modal-content {
	display: none;
	position: fixed;
	top: 25%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
	background-color: #fafafa;
	margin: 0 auto;
	border: 3px solid #203354; /*#B6D0E2;*/
	max-width:  70%;
	padding: 4px;
	height: fit-content;
	text-align: center;
}


/* [6.1] Rule for the modal text <p> element*/
#modal-text {
	font-size: 18px;
	padding: 6px;
}


/* [6.2] Rule for the word "close" on the bottom-right of the screen*/
.close {
	position: absolute;
	color:  #aaa;
	right: 0;
	bottom: 0;
	font-size:  18px;
	font-weight:  bold;
}

.close:hover, .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}


/* Overflow Hidden Rule */
.overflow-hidden {
	overflow: hidden !important;
}


/* [7] Rule for the blocker */
#blocker {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

/* [8] Rule for the lines */
#line-svg {
	z-index: -1;
	width:  100%;
	height:  100%;
	position:  absolute;
	top: 0;
	left: 0;
}

.tree-lines {
	stroke-width: 1px;
	stroke: #000000;
	position: absolute;
}


/*
 * [9] Rule for the in-game circle backgrounds
*/
.circle-bg {
	display: none;
	fill: #ededed;
}